<template>
	<div class="wrapper">
		<Tabs value="accounts">
			<TabPane label="Taxs" name="taxs">
				<component :is="view.current"></component>
			</TabPane>
			<TabPane label="Accounts" name="accounts">
				<accounts></accounts>
			</TabPane>
			<TabPane label="Assign Relations" name="relations">
				not complete
			</TabPane>
		</Tabs>
	</div>
</template>

<script>
	export default {
		data(){
			return {
				view:{
					current:'taxs',
				}
			}
		},
		created(){
			bus.$on('view' , view => {
				this.view.current = view
			})
		},
		methods:{
			
		}
	}
</script>

<style scoped lang="scss">
	
</style>

<style>
	.ivu-tabs-bar{
		margin-top:15px;
		margin-bottom: 20px;
	}
</style>