<template>
	<div>
		<Row type="flex" justify="space-between">
			<div>
				<Tag color="blue">Not Complete</Tag>
			</div>
			<Button type="success" shape="circle"  icon="plus-circled" @click="open_model">Add Account</Button>
			<Modal
			title="Add Account"
			v-model="modal"
			ok-text="Add"
        	cancel-text="Cancel"
        	@on-ok="add_taxs()"
			:loading="true"
			:closable="false">
                <Row>
                    <span class="mr10">Have a Parent :</span>
                    <i-switch  v-model="child" size="large">
                        <span slot="open">Yes</span>
                        <span slot="close">No</span>
                    </i-switch>
                </Row>
                <Cascader :data="data5" change-on-select v-if="child" placeholder="choose a parent"></Cascader>
                <Input type="text" v-model="activation_code" placeholder="Activation Code"></Input>
                <Input type="text" v-model="title" placeholder="Title"></Input>
                <Input type="text" v-model="description" placeholder="Description"></Input>
                <Select v-model="cateogry" placeholder="Cateogry" :clearable="true">
                    <Option value="1">1</Option>
                    <Option value="2">2</Option>
                </Select>
                <Select v-model="account_cateogry" placeholder="Account Cateogry" :clearable="true">
                    <Option value="1">1</Option>
                    <Option value="2">2</Option>
                </Select>
                <Row>
                    <Select v-model="account_type" placeholder="Account Type" :clearable="true">
                        <Option value="debit">Debit</Option>
                        <Option value="credit">Credit</Option>
                    </Select>
                </Row>
                <Row>
                    <span class="mr10">Private :</span>
                    <i-switch size="large" v-model="state">
                        <span slot="open">Yes</span>
                        <span slot="close">No</span>
                    </i-switch>
                </Row>
            </Modal>
        </Row>
        <Row>
            <Table :loading="loading" :columns="columns" :data="taxs" no-data-text="There are no accounts" @on-row-click="open_update_modal($event)"></Table>
            <Modal
            title="Edit"
            v-model="modal2"
            ok-text="Update"
            cancel-text="Cancel"
            @on-ok="update_tax()"
            :loading="true"
            :closable="false">
                not complete
            </Modal>
		</Row>
	</div>
</template>

<script>
	export default {
		data(){
			return {
				current:{},
                child:false,
				taxs:[],
				tax_types:[],
				loading:true,
				modal:false,
				modal2:false,
				title:'',
				rate:0,
				tax_type_id:"",
                data5: [{
                    value: 'beijing',
                    label: 'Parent',
                    children: [
                        {
                            value: 'gugong',
                            label: 'Child 1'
                        },
                        {
                            value: 'tiantan',
                            label: 'Child 2'
                        },
                        {
                            value: 'wangfujing',
                            label: 'Child 3'
                        }
                    ]
                }, {
                    value: 'jiangsu',
                    label: 'Parent',
                    children: [
                        {
                            value: 'nanjing',
                            label: 'Child 1',
                            children: [
                                {
                                    value: 'fuzimiao',
                                    label: 'GrandChild',
                                }
                            ]
                        },
                        {
                            value: 'suzhou',
                            label: 'Child 2',
                            children: [
                                {
                                    value: 'zhuozhengyuan',
                                    label: 'GrandChild',
                                },
                                {
                                    value: 'shizilin',
                                    label: 'GrandChild',
                                }
                            ]
                        }
                    ],
                }],
				columns:[
                    {
                        width: 140,
                        title:'Activation Code'
                    },
                    {
                        title: 'Title',
                        key: 'title'
                    },
                    {
                        title: 'Parent',
                        key: 'parent'
                    },
                    {
                        renderHeader:(h , o) => {
                        	return h('div', [
                        			h('span' , {} , 'Account-Type'),
                        			h('Button', {
                        				props: {
                        					icon:'edit',
                        					size:'small',
                        					type:'warning'
                        				},
                        				style:{
                        					marginLeft: '7px'
                        				},
                        				on:{
                        					click:() => {
                        						
                        					}
                        				}
                        			})
                        		]);
                        },
                    },
                    {
                        renderHeader:(h , o) => {
                        	return h('div', [
                        			h('span' , {} , 'Account-Cateogries'),
                        			h('Button', {
                        				props: {
                        					icon:'edit',
                        					size:'small',
                        					type:'warning'
                        				},
                        				style:{
                        					marginLeft: '7px'
                        				},
                        				on:{
                        					click:() => {
                        						
                        					}
                        				}
                        			})
                        		]);
                        },
                    },
                    {
                    	title: 'Actions',
                    	width: 100,
                    	render: (h , params) => {
                    		return h('Button' , {
                    			props:{
                    				size:'small',
                    				type:'error',
                    			},
                    			on:{
                    				click:(e) => {
                    					e.stopPropagation()
                    					this.$Modal.confirm({
                    						title: 'Warning',
                    						content: 'Are you sure you want to delete <strong>' + params.row.title + '</strong> Tax',
                    						okText: 'Yes',
                    						cancelText:'No',
                    						loading:true,
                    						onOk: () => {
                    							axios.delete('admin/taxs/' + params.row._id)
                    								.then( r => {
                    									this.taxs = r.data
                    									this.$Modal.remove()
                    								})
                    						}
                    					})
                    				}
                    			}
                    		} , 'Delete')
                    	}
                    }
				]
			}
		},
		created(){
			// axios.get('admin/taxs')
			// 	.then( r => {
			// 		this.taxs = r.data
			// 	})
			this.loading = false
		},
		methods:{
			open_model(){
				axios.get('admin/tax_types')
				.then( r => {
					this.tax_types = r.data
				})
				this.modal = true;
			},
			add_taxs(){
				axios.post('admin/taxs' , {
					title: this.title,
					rate: this.rate,
					tax_type_id:this.tax_type_id
				})
				.then( r => {
					this.taxs = r.data
					this.modal = false
				})
			},
			open_update_modal(obj){
				axios.get('admin/tax_types')
				.then( r => {
					this.tax_types = r.data
					this.modal2 = true; 
					this.current = obj;
				})
			},
			update_tax(){
				axios.put('admin/taxs/' + this.current._id , {
					title : this.current.title,
					rate : this.current.rate,
					tax_type_id : this.current.tax_type_id
				})
				.then( r => {
					this.taxs = r.data
					this.modal2 = false
				})
			},
		}
	}
</script>

<style scoped>
	.ivu-select{
		width:200px;
	}
    .mr10{
        margin-right: 5px;
    }
    .help-text{
        color: #777;
        margin-left: 10px;
    }
</style>