<template>
	<div>
		<Row type="flex" justify="space-between">
			<Breadcrumb>
				<BreadcrumbItem>User Mangement</BreadcrumbItem>
				<BreadcrumbItem>Role</BreadcrumbItem>
			</Breadcrumb>
			<Button type="primary" shape="circle"  icon="plus-circled" @click="modal = true">Add Role</Button>
			<Modal
			title="Create Role"
			v-model="modal"
			ok-text="Create"
			@on-ok="create_role()"
			:loading="true"
        	cancel-text="Cancel"
			:closable="false">
				<Input type="text" v-model="name" placeholder="name"></Input>
				<Input type="text" v-model="description" placeholder="description"></Input>
				<CheckboxGroup v-model="permissions">
						<Row>
							<Col span="8" v-for="per in data.permissions">
								<Checkbox :label="per.name"></Checkbox>
							</Col>
						</Row>
				</CheckboxGroup>
			</Modal>
		</Row>
		<Row>
			<Table :loading="!roles.length" :columns="columns" :data="roles" no-data-text="There are no roles" @on-row-click="open_edit_modal($event)"></Table>
			<Modal
			title="Edit Role"
			v-model="modal2"
			ok-text="Update"
			@on-ok="edit_role()"
			:loading="true"
        	cancel-text="Cancel"
			:closable="false">
				<Input type="text" v-model="active_row.name" placeholder="name"></Input>
				<Input type="text" v-model="active_row.description" placeholder="description"></Input>
				<CheckboxGroup v-model="active_per">
						<Row>
							<Col span="8" v-for="per in data.permissions">
								<Checkbox :label="per.name"></Checkbox>
							</Col>
						</Row>
				</CheckboxGroup>
			</Modal>
		</Row>
	</div>
</template>

<script>
	export default {
		props:['data'],
		data(){
			return {
				roles:[],
				modal:false,
				modal2:false,
				active_row:{},
				active_per:[],
				name:'',
				description:'',
				permissions:[],
				columns: [
                    {
                        type: 'index',
                        width: 60,
                        align: 'center'
                    },
                    {
                        title: 'Name',
                        key: 'name',
                        width: 180
                    },
                    {
                        title: 'Description',
                        key: 'description'
                    },
                    {
                        title: 'permissions',
                        render: (h, params) => {
                            return h('ul', params.row.permissions.map(item => {
                                	return h('Tag' , {} , item.name)
                                }))
                        }
                    },
                    {
                    	title:'Actions',
                    	width:100,
                    	render:(h , params) => {
                    		return h('Button' , {
                    			props:{
                    				size:'small',
                    				type:'error',
                    			},
                    			on:{
                    				click:(e) => {
                    					e.stopPropagation()
                    					this.$Modal.confirm({
                    						title: 'Warning',
                    						content: 'Are you sure you want to delete <strong>' + params.row.name + '</strong> role',
                    						okText: 'Yes',
                    						cancelText:'No',
                    						loading:true,
                    						onOk: () => {
                    							axios.delete('admin/roles/' + params.row._id)
                    								.then( r => {
                    									this.roles = r.data
                    									this.$Modal.remove()
                    								})
                    						}
                    					})
                    				}
                    			}
                    		} , 'Delete')
                    	}
                    }
                ],
			}
		},
		created(){
			axios.get('admin/roles')
				.then(r => {
					this.roles = r.data
				})
		},
		methods:{
			create_role(){
				axios.post('admin/roles' , {
					name:this.name,
					description:this.description,
					permissions: this.permissions
				})
				.then(r => {
					this.roles = r.data
					this.modal = false
					bus.$emit('roles-created' , r.data);
				})
			},
			open_edit_modal(row){
				this.active_row = row;
				this.active_per = _.map(this.active_row.permissions, 'name')
				this.modal2 = true; 
			},
			edit_role(){
				axios.put('admin/roles/' + this.active_row._id , {
					name:this.active_row.name,
					description:this.active_row.description,
					permissions: this.active_per
				})
				.then(r => {
					this.modal2 = false
					this.roles = r.data
				})
			}
		}
	}
</script>

<style scoped>
	
</style>