<template>
	<div class="side-menu">
		<Button type="primary" :icon="isActive ?'close-round':'navicon-round'" size="large" @click="isActive = !isActive" :class="{active: isActive}"></Button>
		<Menu theme="dark" @on-select="$emit('selected' , $event); isActive = false" active-name="account-settings" :open-names="['1' , '2' , '3']" :class="{active: isActive}">
			<Submenu name="1">
				<template slot="title">
					<Icon type="ios-people"></Icon>
					User Mangement
				</template>
				<MenuItem name="users">Users</MenuItem>
				<MenuItem name="roles">Roles</MenuItem>
				<MenuItem name="user-settings">User Settings</MenuItem>
			</Submenu>
			<Submenu name="2">
				<template slot="title">
					<Icon type="ios-paper"></Icon>
					Account Settings
				</template>
				<MenuItem name="account-settings">Accounts & Taxs</MenuItem>
			</Submenu>
			<Submenu name="3">
				<template slot="title">
					<Icon type="cash"></Icon>
					Payment Settings
				</template>
				<MenuItem name="payment">Payments</MenuItem>
				<MenuItem name="payment-overview">Payments Overview</MenuItem>
			</Submenu>
		</Menu>
	</div>
</template>

<script>
	export default {
		data(){
			return {
				isActive:false
			}
		},
		methods:{
			
		}
	}
</script>

<style scoped lang="scss">
	.side-menu{
		position:absolute;
		left:0;
		top: 56px;
		bottom: 0;
	}
	.ivu-btn{
		display: none;
		border-radius: 0;
	}
	@media (max-width: 1700px) {
		.ivu-btn{
			display: inline-block;
			&.active{
				position: absolute;
				right: -42px;
			}
		}
		.ivu-menu{
			display: none;
			&.active{
				display:block;
			}
		}
	}
</style>