<template>
	<div>
		<Row type="flex" justify="space-between" align="middle">
			<Input v-model="filtered_value" placeholder="filter using any column" style="width: 300px"></Input>
			<Button type="success" shape="circle"  icon="plus-circled" @click="open_model">Add Tax</Button>
			<Modal
			title="Add Tax"
			v-model="modal"
			ok-text="Add"
        	cancel-text="Cancel"
        	@on-ok="add_taxs()"
			:loading="true"
			:closable="false">
				<Input type="text" v-model="title" placeholder="title"></Input>
				<span >Rate:</span>
				<Slider v-model="rate" show-input :max="25"></Slider>
				<p >Choose a type for your tax:</p>
				<Select v-model="tax_type_id" placeholder="Select From Here" :clearable="true" :filterable="true" not-found-text="No results">
					<Option v-for="item in tax_types" :value="item._id" :label="item.title"></Option>
				</Select>
			</Modal>
		</Row>
		<Row>
			<Table :loading="loading" :columns="columns" :data="taxsfiltered" no-data-text="There are no taxs" @on-row-click="open_update_modal($event)"></Table>
			<Modal
			title="Edit"
			v-model="modal2"
			ok-text="Update"
        	cancel-text="Cancel"
        	@on-ok="update_tax()"
			:loading="true"
			:closable="false">
				<Input type="text" v-model="current.title" placeholder="title"></Input>
				<span >Rate:</span>
				<Slider v-model="current.rate" show-input :max="25"></Slider>
				<p >Choose a type for your tax:</p>
				<Select v-model="current.tax_type_id" placeholder="Select From Here" :clearable="true" :filterable="true" not-found-text="No results">
					<Option v-for="item in tax_types" :value="item._id" :label="item.title"></Option>
				</Select>
			</Modal>
		</Row>
	</div>
</template>

<script>
	export default {
		data(){
			return {
				filtered_value:'',
				current:{},
				taxs:[],
				tax_types:[],
				loading:true,
				modal:false,
				modal2:false,
				title:'',
				rate:0,
				tax_type_id:"",
				columns:[
					{
                        type: 'index',
                        width: 60,
                        align: 'center'
                    },
                    {
                        title: 'Title',
                        key: 'title',
                    },
                    {
                        renderHeader:(h , o) => {
                        	return h('div', [
                        			h('span' , {} , 'Tax-Type'),
                        			h('Button', {
                        				props: {
                        					icon:'edit',
                        					size:'small',
                        					type:'warning'
                        				},
                        				style:{
                        					marginLeft: '7px'
                        				},
                        				on:{
                        					click:() => {
                        						bus.$emit('view' , 'tax-types')
                        					}
                        				}
                        			})
                        		]);
                        },
                        render: (h, params) => {
                        	if (params.row.tax_type) {
                            	return h('Tag', params.row.tax_type.title)
                        	}
                        	else{
                        		return false;
                        	}
                        }
                    },
                    {
                        title: 'Rate',
                        key: 'rate'
                    },
                    {
                    	title: 'Actions',
                    	width: 100,
                    	render: (h , params) => {
                    		return h('Button' , {
                    			props:{
                    				size:'small',
                    				type:'error',
                    			},
                    			on:{
                    				click:(e) => {
                    					e.stopPropagation()
                    					this.$Modal.confirm({
                    						title: 'Warning',
                    						content: 'Are you sure you want to delete <strong>' + params.row.title + '</strong> Tax',
                    						okText: 'Yes',
                    						cancelText:'No',
                    						loading:true,
                    						onOk: () => {
                    							axios.delete('admin/taxs/' + params.row._id)
                    								.then( r => {
                    									this.taxs = r.data
                    									this.$Modal.remove()
                    								})
                    						}
                    					})
                    				}
                    			}
                    		} , 'Delete')
                    	}
                    }
				]
			}
		},
		created(){
			axios.get('admin/taxs')
				.then( r => {
					this.taxs = r.data
					this.loading = false
				})
		},
		computed:{
			taxsfiltered(){
				var v =  this.filtered_value
				return this.taxs.filter((i) => {
					return i.title.toLowerCase().match( v ) || 
						i.rate.toString().toLowerCase().match(v) ||
						i.tax_type.title.toLowerCase().match(v)
				})
			}	

		},
		methods:{
			open_model(){
				axios.get('admin/tax_types')
				.then( r => {
					this.tax_types = r.data
				})
				this.modal = true;
			},
			add_taxs(){
				axios.post('admin/taxs' , {
					title: this.title,
					rate: this.rate,
					tax_type_id:this.tax_type_id
				})
				.then( r => {
					this.taxs = r.data
					this.modal = false
				})
			},
			open_update_modal(obj){
				axios.get('admin/tax_types')
				.then( r => {
					this.tax_types = r.data
					this.modal2 = true; 
					this.current = obj;
				})
			},
			update_tax(){
				axios.put('admin/taxs/' + this.current._id , {
					title : this.current.title,
					rate : this.current.rate,
					tax_type_id : this.current.tax_type_id
				})
				.then( r => {
					this.taxs = r.data
					this.modal2 = false
				})
			},	
		}
	}
</script>

<style scoped>
	.ivu-select{
		width:200px;
	}
	.highlight{
		background-color: #777;
	}
</style>