<template>
	<div>
		<Row type="flex" justify="space-between" align="middle">
			<Button type="ghost" icon="arrow-left-c" @click="direct_back">Back</Button>
			<Breadcrumb>
				<BreadcrumbItem >Taxs</BreadcrumbItem>
				<BreadcrumbItem >Tax Types</BreadcrumbItem>
			</Breadcrumb>
			<Button type="success" shape="circle" icon="plus-circled" @click="modal = true">Add Tax Type</Button>
			<Modal
			title="Add Tax Type"
			v-model="modal"
			ok-text="Add"
        	cancel-text="Cancel"
        	@on-ok="add_tax_type()"
			:loading="true"
			:closable="false">
				<Input type="text" v-model="title" placeholder="title"></Input>
			</Modal>
		</Row>
		<Row>
			<Table :loading="loading" :columns="columns" :data="taxs" no-data-text="There are no tax types" @on-row-click="open_edit_modal($event)"></Table>
			<Modal
			title="Edit"
			v-model="modal2"
			ok-text="Update"
        	cancel-text="Cancel"
        	@on-ok="update_tax_type()"
			:loading="true"
			:closable="false">
				<Input type="text" v-model="current_row.title" placeholder="title"></Input>
			</Modal>
		</Row>
	</div>
</template>

<script>
	export default {
		data(){
			return {
				taxs:[],
				loading:true,
				modal:false,
				modal2:false,
				current_row:{},
				title:'',
				columns:[
					{
                        type: 'index',
                        width: 60,
                        align: 'center'
                    },
                    {
                        title: 'Title',
                        key: 'title'
                    },
                    {
                    	title: 'Actions',
                    	width: 100,
                    	render: (h , params) => {
                    		return h('Button' , {
                    			props:{
                    				size:'small',
                    				type:'error',
                    			},
                    			on:{
                    				click:(e) => {
                    					e.stopPropagation()
                    					this.$Modal.confirm({
                    						title: 'Warning',
                    						content: 'Are you sure you want to delete <strong>' + params.row.title + '</strong> Tax Type',
                    						okText: 'Yes',
                    						cancelText:'No',
                    						loading:true,
                    						onOk: () => {
                    							axios.delete('admin/tax_types/' + params.row._id)
                    								.then( r => {
                    									this.taxs = r.data
                    									this.$Modal.remove()
                    								})
                    						}
                    					})
                    				}
                    			}
                    		} , 'Delete')
                    	}
                    }
				]
			}
		},
		created(){
			axios.get('admin/tax_types')
				.then( r => {
					this.taxs = r.data
					this.loading = false
				})
		},
		methods:{
			add_tax_type(){
				axios.post('admin/tax_types' , {
					title: this.title
				})
				.then( r => {
					this.taxs = r.data
					this.modal = false
				})
			},
			open_edit_modal(row){
				this.current_row = row; 
				this.modal2 = true
			},
			update_tax_type(){
				axios.put('admin/tax_types/' + this.current_row._id , {
					title : this.current_row.title
				})
				.then( r => {
					this.taxs = r.data
					this.modal2 = false
				})
			},
			direct_back(){
				bus.$emit('view' , 'taxs')
			}
		}
	}
</script>

<style scoped>

</style>