<template>
	<div>
		<Row>
			<h4>User Settings</h4>
		</Row>
	</div>
</template>

<script>
	export default {
		data(){
			return {

			}
		},
		methods:{
			
		}
	}
</script>

<style scoped>
	
</style>