<template>
	<div>
		<Row type="flex" justify="space-between">
			<Breadcrumb>
				<BreadcrumbItem>User Mangement</BreadcrumbItem>
				<BreadcrumbItem>User</BreadcrumbItem>
			</Breadcrumb>
			<Button type="primary" shape="circle"  icon="person-add" @click="open_modal">Add User</Button>
			<Modal
			title="Add User"
			v-model="modal"
			ok-text="Add"
        	cancel-text="Cancel"
        	@on-ok="add_user()"
			:loading="true"
			:closable="false">
				<Input type="text" v-model="name" placeholder="name"></Input>
				<Input type="text" v-model="email" placeholder="email"></Input>
				<Input type="password" v-model="password" placeholder="password"></Input>
				<Input type="password" v-model="password_confirmation" placeholder="password confirmation"></Input>
				<Spin v-if="!roles.length" size="large" mode="in-out"></Spin>
				<CheckboxGroup v-model="checked_roles">
						<Row>
							<Col span="8" v-for="role in roles">
								<Checkbox :label="role.name"></Checkbox>
							</Col>
						</Row>
				</CheckboxGroup>
			</Modal>
		</Row>
		<Row>
			<Table :loading="loading" :columns="columns" :data="users" no-data-text="There are no users" @on-row-click="open_edit_modal($event)"></Table>
			<Modal
			title="Edit User"
			v-model="modal2"
			ok-text="Update"
			@on-ok="edit_user()"
			:loading="true"
        	cancel-text="Cancel"
			:closable="false">
				<Input type="text" v-model="active_row.name" placeholder="name" disabled></Input>
				<Input type="text" v-model="active_row.email" placeholder="email" disabled></Input>
				<CheckboxGroup v-model="roles_names">
						<Row>
							<Col span="8" v-for="role in roles">
								<Checkbox :label="role.name"></Checkbox>
							</Col>
						</Row>
				</CheckboxGroup>
			</Modal>
		</Row>
	</div>
</template>

<script>
	export default {
		props:['auth'],
		data(){
			return {
				loading:true,
				users : [],
				modal:false,
				modal2:false,
				active_row:{},
				name:'',
				email:'',
				password:'',
				password_confirmation:'',
				checked_roles:[],
				roles:[],
				roles_names:[],
				columns: [
                    {
                        type: 'index',
                        width: 60,
                        align: 'center'
                    },
                    {
                        title: 'Name',
                        key: 'name'
                    },
                    {
                        title: 'Email',
                        key: 'email'
                    },
                    {
                        title: 'Roles',
                        render: (h, params) => {
                            return h('ul', params.row.roles.map(item => {
                                	return h('Tag' , {} , item.name)
                                }))
                        }
                    },
                    {
                    	title: 'Actions',
                    	width:100,
                    	render:(h , params) => {
                    		return h('Button' , {
                    			props:{
                    				size:'small',
                    				type:'error',
                    				disabled: params.row._id === this.auth._id
                    			},
                    			on:{
                    				click:(e) => {
                    					e.stopPropagation()
                    					this.$Modal.confirm({
                    						title: 'Warning',
                    						content: 'Are you sure you want to delete <strong>' + params.row.name + '</strong>',
                    						okText: 'Yes',
                    						cancelText:'No',
                    						loading:true,
                    						onOk: () => {
                    							axios.delete('admin/users/' + params.row._id)
                    								.then( r => {
                    									this.users = r.data
                    									this.$Modal.remove()
                    								})
                    								.catch( e => {
                    									if(e.status === 403){
                    										this.$Message.error({
                    											content : "it looks like you are trying to delete an admin",
                    											duration: 5
                    										})
                											this.$Modal.remove()
                    									}
                    								})
                    						}
                    					})
                    				}
                    			}
                    		} , 'Delete')
                    	}
                    }
                ],
			}
		},
		created(){
			axios.get('admin/users')
				.then( r => {
					this.users = r.data
					this.loading = false
				})
		},
		methods:{
			get_roles(){
				axios.get('admin/roles')
					.then( r => {
						this.roles = r.data
					})
			},
			open_modal(){
				this.modal = true
				this.get_roles()
			},
			open_edit_modal(row){
				this.active_row = row;
				this.roles_names = _.map(row.roles, 'name')
				this.get_roles()
				this.modal2 = true; 
			},
			add_user(){
				axios.post('admin/users' , {
					name: this.name,
					email: this.email,
					password: this.password,
					password_confirmation: this.password_confirmation,
					roles:this.checked_roles
				})
				.then(r => {
					this.users = r.data
					this.modal = false;
				})
			},
			edit_user(){
				axios.put('admin/users/' + this.active_row._id , {
					roles:this.roles_names
				})
				.then( r => {
					this.users = r.data
					this.modal2 = false
				})
			},
		}
	}

</script>

<style scoped lang="scss">

</style>