$button-color: #2196f3;
$button-default:#a7a7a7;
$button-primary:#2196f3;
$button-success:#11ec91;
$button-danger:#f74747;
$button-icon-color:#2196F3;

@mixin buttonStates ($base-color){
	color:#fff;
	&:hover{
		background-color:lighten($base-color , 5%);
		color:#fff;
	}
	&:active{
		background-color:darken($base-color , 5%);
		color:#fff;
	}
	&:focus{
		color:#fff;
	}
}
.pr-button{
	color:$button-color;
	display:inline-block;
	padding: 7px 14px;
    border-radius: 3px;
    border:none;
    background-color: inherit;
	&.pr-button-default{
    	background-color: $button-default;
		@include buttonStates($button-default);
	}
	&.pr-button-primary{
    	background-color: $button-primary;
		@include buttonStates($button-primary);
	}
	&.pr-button-success{
	    background-color: $button-success;
		@include buttonStates($button-success);
	}
	&.pr-button-danger{
    	background-color: $button-danger;
		@include buttonStates($button-danger);
	}
	&.pr-button-link{
		&:hover{
			text-decoration: underline;
			color:lighten($button-color , 10%);
			
		}
		&:active{
			color:darken($button-color , 10%);
			
		}
		&:focus{
			
		}
	}
}
.pr-button-icon{
	color:$button-icon-color;
	border:none;
	background-color:inherit;
	padding: 5px;
    margin: 0px 5px;
	&:hover{
		color: lighten($button-icon-color , 10%);
	}
	&:active{
		color: darken($button-icon-color , 10%);
	}
	&:focus{
		color: $button-icon-color
	}
	&.disable{
		cursor: auto;
		color: #b9b9b9;
	}
}