.red{
	background-color:#F44336 !important;
}
.pink{
	background-color:#E91E63 !important;
}
.purple{
	background-color:#9C27B0 !important;
}
.deep-purple{
	background-color:#673AB7 !important;
}
.indigo{
	background-color:#3F51B5 !important;
}
.blue{
	background-color:#2196F3 !important;
}
.light-blue{
	background-color:#03A9F4 !important;
}
.cyan{
	background-color:#00BCD4 !important;
}
.teal{
	background-color:#009688 !important;
}
.green{
	background-color:#4CAF50 !important;
}
.yellow{
	background-color:#FFEB3B !important;
}
.orange{
	background-color:#FF9800 !important;
}
.deep-orange{
	background-color:#FF5722 !important;
}
.brown{
	background-color:#795548 !important;
}
.grey{
	background-color:#9E9E9E !important;
}
.blue-grey{
	background-color:#607D8B !important;
}
.white{
	background-color:#ffffff !important;
}
.black{
	background-color:#000000 !important;
}