.pr-flex{
	display:flex;
	flex-wrap:wrap;
	align-items:center;
}
.pr-column{
	flex-direction:column;
	align-items:unset;
}
.pr-justify-center{
	justify-content:center;
}
.pr-justify-item-end{
	margin-left:auto
}
.pr-gutter-A{
	& > * {
		margin-bottom: 15px;
	}
}
.pr-gutter{
	& > *:not(:last-child) {
		margin-bottom: 15px;
	}
}