.room{
	margin-right:5px;
}
.gutter{
	margin-bottom: 15px;
}
.pr-m-t-5{
	margin-top:5px;
}
.pr-m-t-10{
	margin-top:10px;
}
.pr-m-t-15{
	margin-top:15px;
}
.pr-m-t-20{
	margin-top:20px;
}
.pr-m-b-5{
	margin-bottom:5px;
}
.pr-m-b-10{
	margin-bottom:10px;
}
.pr-m-b-15{
	margin-bottom:15px;
}
.pr-m-b-20{
	margin-bottom:20px;
}
.pr-full-width{
	width:100%;
}