.pr-input-group{
    margin-bottom: 15px;
	.pr-input{
	    border: 1px solid #e6e6e6;
	    border-radius: 3px;
	    padding: 5px 20px;
	    padding-left:10px;
	    color: #848484;
	    width:100%;
		outline:none;
	    transition:all .5s;
	    &.pr-error{
	    	border: 1px solid #FF5722;
	    	border-left: 20px solid #FF5722;
	    }
	    &:focus{
		    border: 1px solid #eeeeee;
	    	border-left: 20px solid #eeeeee;
	    }
	}
	.pr-input-help{
		color:#969696;
	}
}
.pr-input-editable{
	border:1px solid #fff;
    border-radius: 3px;
    padding: 5px;
    cursor: pointer;
    transition:all .5s;
	&:focus{
        border: 1px solid #efefef;
    	border-left: 20px solid #efefef;
	    outline: none
	}
}
