// Fonts
// @import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// FontAwesome
// @import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

// ionicon
@import url("http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css");

// Animate.css
@import "node_modules/animate.css/animate";

// IView
@import 'node_modules/iview/dist/styles/iview';

// Bootstrap
@import 'node_modules/bootstrap/dist/css/bootstrap';
@import 'node_modules/bootstrap-vue/dist/bootstrap-vue';


//Global
@import 'global';






