[v-cloak] { display: none; }
html {
	body{
		font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
		&.light-body{
			background: #f5f7f9;
		}
	}
	ul{
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
	.navbar-brand{
		margin-left: 1rem;
		margin-right: 0rem;
	}
}
.row , .ivu-row , .ivu-row-flex{
    margin-top: 15px;
	margin-bottom: 10px;
}
.ivu-page-item-active a, .ivu-page-item-active:hover a{
	color:white !important;
}
.ivu-modal-body {
	input{
		margin-bottom: 10px;
	}
},
.ivu-table-row{
	cursor: pointer;
}
